<%- include('../partials/head.ejs') %>
<title>Задание <%=name_pset %></title>
</head>
<body>
<div class='container'>
	<h1>Отчёт по выполнению задания</h1>
	<form action='/character/api_name_pset' method='post'>
		<input type='hidden' value='<%= name_pset %>' name='name_problemset'> 
		<div class='mb-3'>
			<label for='login' class='form-label'>Укажите GitHub username</label>
			<input class='form-control' autocomplete = 'off' name='username'  required/><br>
		</div>
		
			<input class='btn btn-primary' type='submit' value='Отправить'/>
	</form>
	</div>

</body
</html>
