<%- include('../partials/head.ejs') %>
<title>Дашборд</title>
</head>
<body>
<div class="container">
	<div class = 'row'>
		<header class ='col-md-12'>
			<h1>Дашборд</h1>
		</header>
	</div>
</div>
<div class="container">
		<ul>
			<li><a  href='/problemset'>База заданий</a></li>
			<li><a  href='/plan'>Задания по группам</a></li>
			<li><a href='/gradebook'>Выставить оценки</a></li>
			<li><a href='/results'>Резултаты</a></li>
			<li><a href='/logout'>Выйти</a></li>
		</ul>
</div>
</body>
</html>
