<%- include('../partials/head.ejs') %>
<title>Посещаемость</title>
<script src='javascripts/presences/index.js' ></script>
</head>
<body>
	<div class='container'>
		<select autocomplete='off' id='houseSelect' name = 'id_house' required >
			<option  selected disabled value=''>Выберите группу</option>
				<% for(let row of houses){%>
					<option value=<%= row.id %> ><%= row.house %></option>
				<%}%>
		</select>
		<select autocomplete='off' id='lectureSelect' name = 'id_lecture' required >
			<option selected disabled value=''> Выберите лекцию</option>
		</select>
		<br>
		<table class='table' id='presencesTable'>
		</table>
		<a href = "/teacher/dashboard">Дашборд</a>
	
	</div>
</body>	
</html>

