<%- include('../partials/head.ejs') %>
<title>Результаты</title>
<script src='javascripts/results/index.js' ></script>
</head>
<body>
	<div class='container'>
		<select autocomplete='off' id='houseSelect' name = 'id_house' required >
			<option  selected disabled value=''>Выберите группу</option>
				<% for(let row of houses){%>
					<option value=<%= row.id %> ><%= row.house %></option>
				<%}%>
		</select>
		<br>
		<table class ='table table-success' id='gradesTable'>
		</table>
		<br>

		<h2>Задания</h2>
		<table class='table table-info' id='psetTable'>
		</table>
		<a href = "/teacher/dashboard">Дашборд</a>
	

	</div>	
</body>
</html>

