<%- include('../partials/head.ejs') %>
	<title>Ждущие Оценки</title>
	<script src='javascripts/pending/index.js' ></script>
</head>
<body>
	<div class="container">
		<button type="button" class="btn btn-primary" id="btnPending">Обновить</button>
		<table class='table' id='gradesTable'>
		</table>
		<a href = "/teacher/dashboard">Дашборд</a>
	</div>

</body>
</html>
